/* ------------------- Style Resets ------------------- */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* ------------------- Variables -------------------*/

:root {
    /*colours*/
    --clr-accent-0:#FFFFFF; 
    --clr-accent-1:#FEF294; /*yellows*/
    --clr-accent-2:#FAD164;

    --clr-primary-1:#E85957; /*reds*/
    --clr-primary-2:#B94A51;

    --clr-gradient-lr:linear-gradient(to right, var(--clr-accent-2), var(--clr-primary-2));
    --clr-gradient-rl:linear-gradient(to lef, var(--clr-accent-2), var(--clr-primary-2));
    --clr-gradient-tb:linear-gradient(to bottom, var(--clr-accent-2), var(--clr-primary-2));
    --clr-gradient-tb2:linear-gradient(to bottom, var(--clr-accent-2), transparent 5%);
    --clr-gradient-dg:linear-gradient(to bottom right, var(--clr-accent-2), var(--clr-primary-2));

    --clr-block-1:#00223F; /*blue*/
    --clr-block-2:#130F14; /*purple*/
    --clr-block-3:#140F0F; /*brown*/

    --clr-bg-1:#101010;

    /*sizing*/
    --spc-tiny: 0.125rem;
    --spc-small: 1rem;
    --spc-med: 2rem;
    --spc-large: 4rem;
    --spc-topoffset: -4.25rem;

    --fs-text: 1.2rem;
    --fs-nav: 2.5rem;
    --fs-title: 2rem;
    --fs-subtitle: 1.5rem;

}

/* ------------------- Global Styles -------------------*/

/*text*/

h1,
h1 a {
    font-family: 'Geo', sans-serif;
    font-weight: 400;
    color: var(--clr-accent-0);
    font-size: var(--fs-nav);
}

h2,
h2 a {
    font-family: 'Geo', sans-serif;
    font-weight: 400;
    color: var(--clr-accent-0);
    font-size: var(--fs-title);
    text-decoration: none;
}

h3,
h3 a {
    font-family: 'Geo', sans-serif;
    font-weight: 400;
    color: var(--clr-accent-0);
    font-size: var(--fs-subtitle);
}

p,
p a {
    font-family: 'Calibri', sans-serif;
    color: var(--clr-accent-0);
    font-size: var(--fs-text);
}

/*layout*/

body {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr minmax(20em, 90em) 1fr;
    min-height: 100vh;
    background-image:url(img/bg2.jpg);
    background-position:center top;
    background-size: cover;
}

header {
    position: fixed;
    width: 100%;
    max-width: 90em;
    background-color: var(--clr-bg-1);
    z-index: 999;
    height: calc(var(--spc-topoffset)*-1);
}

main {
    margin: var(--spc-med);
}

.background {
    background-color: var(--clr-bg-1);
}

/* ------------------- Global Classes -------------------*/

/*Navigation*/
.navgrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--spc-tiny) var(--spc-large) var(--spc-tiny);
    text-align: center;
}

.navgrid-overlay {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: var(--spc-tiny) var(--spc-large) var(--spc-tiny);
    text-align: center;
    position: relative;
    top: var(--spc-topoffset);
    z-index: 0;
}

.navgrid-overlay h1 {
    padding-top: 0.6rem;
}

.nav-gradient {
    grid-column: span 4;
    background-image: var(--clr-gradient-lr);
}

.logo {
    aspect-ratio: 1;
    height: var(--spc-large);
}

.eye {
    scale: 2;
    position: relative;
    top: -0.5rem;

}

/*Animated particles*/

.animation-falling {
    width: calc((50%) + (1rem));
    position: relative;
    top: -0.94rem;
    background-color:transparent;
    display: flex;
    justify-content: flex-end;
}

.anim-particle {
    position: relative;
    width: var(--spc-tiny);
    height: var(--spc-tiny);
    background-color: var(--clr-accent-0);
    box-shadow: 0px 0px 4px var(--clr-accent-1);
    animation-name: fallingparticles;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fallingparticles {
    0%   {
        top: 0;
    }
    100% {
        top: 2rem;
        background-color: var(--clr-block-1);
    }
}

/*Glow effects*/

div[data-hidden="true"] {
    background-color: transparent;
}

div[data-glow="true"] {
	box-shadow: 0px 0px 4px var(--clr-accent-1);
}

div[data-hoverglow="true"]:hover {
    box-shadow: 0px 0px 4px var(--clr-accent-1);
    
}

a[data-glow="true"] {
	text-shadow: 0px 0px 3px var(--clr-accent-1);
}

a[data-hoverglow="true"]:hover {
    text-shadow: 0px 0px 6px var(--clr-accent-1);
    
}

/*Objects*/

.line {
    width: 100%;
    height: var(--spc-tiny);
    background-image: var(--clr-gradient-lr);
}

.separator-med {
    height: var(--spc-med);
    width: 100%;
}

.separator-large {
    height: var(--spc-large);
    width: 100%;
}

.glowbar {
    width: 100%;
    background-color: var(--clr-accent-0);
    z-index: 9999;
    height: var(--spc-tiny);
}

/* ------------------- Homepage Classes -------------------*/

.heading-logo {
    background-image:url(img/bg.jpg);
    background-position:center bottom;
    background-attachment: scroll;
}

.homelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
}

.homename {
    width: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.noitatext {
    display: inline;
    position: relative;
    top: 0.3em;
    height: 2.5rem;
}

.profilecontainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spc-med);
    row-gap: var(--spc-large);
    justify-content: center;
}

.profile {
    border: 1em solid;
    background-color: var(--clr-block-2);
    padding: var(--spc-small);
    border-image-source: var(--clr-gradient-tb2);
    border-image-slice: 1;
    border-width:var(--spc-tiny);
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 35em;
    display: grid;
    grid-template-rows: var(--spc-large) var(--spc-small) auto auto;
    text-align: start;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.350);
}

.profile h3 {
    text-align: center;
    margin-top: calc(-1 * var(--spc-med) * 0.8);
}

.profile-img {
    height: calc((var(--spc-large)));
    width: calc((var(--spc-large)));
    position: relative;
    margin-left: auto;
    margin-right: auto;
    rotate: 45deg;
    top: -3rem;
    border: 1em solid;
    border-image-source: var(--clr-gradient-dg);
    border-image-slice: 1;
    border-width:var(--spc-tiny);
    overflow: hidden;
}

.p1::before {
    background-image: url(img/petri.png);
}
.p2::before {
    background-image: url(img/olli.png);
}
.p3::before {
    background-image: url(img/arvi.png);
}
.p4::before {
    background-image: url(img/antti.png);
}
.p5::before {
    background-image: url(img/Niilo.png);
}
.p6::before {
    background-image: url(img/fromgrotto.png);
}

.profile-img::before {
    content:"";
    position: absolute;
    width: 180%;
    height: 180%;
    top: -35%;
    left: -25%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transform: rotate(-45deg);
    background-position: center center;

}

.linkcontainer {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 100%;
    min-height: calc(var(--spc-med) * 1.5);
}

.socbutton {
    border: none;
    background: transparent;
    height: calc(var(--spc-med) * 1.2);
    width: calc(var(--spc-med) * 1.2);
    opacity: 0.35;
}

.linkicon {
    height: 100%;
    width: 100%;
}

.linkicon-s {
    height: 100%;
    width: 100%;
    scale: 0.75;
}

.profile p a {
    color: var(--clr-accent-1);
}

.profile p a:hover {
    color: var(--clr-accent-0);
    text-shadow: 0px 0px 6px var(--clr-accent-1);
}

.socbutton:hover {
    opacity: 1;
}